*{
    margin: 0;
    padding: 0;
}
.player-card{
    width: 15rem;
    height: 35rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.player-card img {
    width: 15rem;
    height: 25rem;
}
.age-nati{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.player-card span{
    color: red;
}
.player-card:hover{
    transform: scale(1.2);
    transition: ease;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.nav{
    /* background-color: #A9BBC8; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width:40%
}
.nav ul li{
    cursor: pointer;
    list-style: none;
}
.back{
    background-color:#F2F2EB;
}
a{text-decoration: none;
    font-size: 2rem;
color:#202E44;
}
.logo{
    font-size: 3rem;
}

.champions{
    height: 35rem;
    width: 100%;
    object-fit: cover;
    margin-top: 50px;
}